.project-detail-page {
    padding: 40px 0;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.back-btn {
    display: block;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    text-decoration: none;
    color: #111;
    font-weight: 600;
}
.back-btn:hover{
    color: #ea580c;
}

.project-hero {
    margin-bottom: 40px;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.project-label {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 30px;
    background: #f3f3f3;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-content p {
    color: #666;
    line-height: 1.7;
}

.hero-image img {
    width: 100%;
    border-radius: 20px;
}

.project-section {
    max-width: 1080px;
    display: block;
    margin: 0 auto 40px;
}



@media(max-width:992px) {

    .hero-content,
    .section-grid,
    .process-grid,
    .showcase-grid {
        grid-template-columns: 1fr;
    }

    .hero-content h1 {
        font-size: 42px;
    }

}