@import "tailwindcss";
@import 'quill/dist/quill.snow.css';

/* GLOBAL WEBSITE CONTAINER */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
    transition: background-color 0.3s, color 0.3s;
}


/* Desktop width */

@media (min-width: 1024px) {

    .site-container {
        width: 90%;
    }

}


/* Large screens */

@media (min-width: 1536px) {

    .site-container {
        max-width: 1400px;
    }

}