<!-- BLOG HERO -->
<section class="blog-hero">

  <div class="container">

    <h1>
      Insights, Ideas & Design Stories
    </h1>

    <p>
      Explore articles about UI/UX design, web development,
      creativity, user experience, and modern digital products.
    </p>

    <div class="search-box">
      <input type="text" placeholder="Search blogs..." [(ngModel)]="searchTerm" (input)="filterBlogs()">
    </div>

    <div class="category-filter">
      <button *ngFor="let category of categories" [class.active]="selectedCategory === category"
        (click)="filterByCategory(category)">
        {{ category }}
      </button>
    </div>

  </div>

</section>

<!-- BLOG LIST -->
<section class="blog-list-section">

  <div class="container">

    

    <!-- BLOG GRID -->
    <div class="blog-grid">

      <article class="blog-card" *ngFor="let blog of filteredBlogs">

        <div class="blog-image">
          <img [src]="blog.image" alt="blog.title">
        </div>

        <div class="blog-content">

          <span class="blog-category">
            {{ blog.category }}
          </span>

          <h2>
            {{ blog.title }}
          </h2>

          <div class="blog-meta">

            <span>
              {{ blog.date }}
            </span>

            <span>
              {{ blog.readTime }}
            </span>

          </div>

          <a [routerLink]="['/blogs', blog.slug]" class="read-btn">
            Read More →
          </a>

        </div>

      </article>

    </div>

    <!-- EMPTY STATE -->
    <div class="empty-state" *ngIf="filteredBlogs.length === 0">

      <h3>No blogs found</h3>

      <p>
        Try searching with another keyword.
      </p>

    </div>

  </div>

</section>